**/target
**/*.rs.bk
*.fa*
*.ans
*.sam
**/last
*.maf
*.dat
**/result
**/data
**/logfiles
**/pdf
**/png
**/pics
script/*.sh
.*
!.gitignore
venv
**__pycache__*
python/build
python/dist
python/jtk_definitions.egg-info